<div class="container">
  <div class="row-lg">
    <div class="row-sm flex1">
      <div class="card flex1">
        <div class="title">Card</div>
        <div class="content"></div>
      </div>
      <div class="card flex1">
        <div class="title">Card</div>
        <div class="content"></div>
      </div>
    </div>
    <div class="row-sm flex1">
      <div class="card flex1">
        <div class="title">Card</div>
        <div class="content"></div>
      </div>
      <div class="card flex1">
        <div class="title">Card</div>
        <div class="content"></div>
      </div>
    </div>
  </div>

</div>
